
<%# <div class="navbar-brand"><h1>Available Super Powers</h1></div> %>
<div>
  <%# <div class="navbar navbar-expand-sm navbar-lewagon bg-color-rouge">
    <div class="container-fluid">
      <div>
        <p class="navbar-brand add-power"><%= link_to "+ Super Power",  new_super_power_path %></p>
        <%# <a class="navbar-brand add-power" href="#">+ Super Power</a> %>
      </div>
      <h1 class="powerent">POWERENT</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">☆</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">♀︎</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">🛒</a>
            </li>
        </ul>
            <%# <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
              </div>
            </li> %>
            <!--li class="nav-item"-->
            <!--/li-->

      </div>
    </div>
  </div> %>
<div class="index-grid">
    <% @super_powers.each do |super_power| %>
    <div class="card" style="width: 29rem";>
      <div class="container">
        <div >

            <div class="card-img-top card_power">
              <% if super_power.poster_url.attached? %>
                <%= cl_image_tag super_power.poster_url.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>

            <div class="card-title">
            <%= link_to super_power.name, super_power_path(super_power) %>
            </div>
            <div class="card-text">
              <%= super_power.description %>
            </div>

            <h2><%= super_power.price %>€</h2>

            <div class="btn-margin-padding ">
              <%= link_to "Delete", super_power_path(super_power), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>


</div>
<div>
  <%= link_to "+ Super Power",  new_super_power_path %>
</div>
