<div class="container-new">
<h1>Add my super power !</h1>


<div class="container-name">
  <%= simple_form_for @super_power do |f| %>
    <div class="element1">
      <%= f.label :name %>
      <p class="rectangle"><%= f.text_field :name %></p>
      <%= f.label :price %>
      <p class="rectangle"><%= f.text_field :price %></p>
      <div class="element2">
        <%= f.input :poster_url, as: :file %>
      </div>
    </div>

    <div class="container-description">
      <%= f.label :description %>
      <p class="rectangle-des"> <%= f.text_field :description %></p>
    </div>

    <div class="container-button">
      <p class="button"><%= f.submit %></p>
    </div>
  <% end %>
</div>

<%= link_to "Back to list", super_powers_path %>



<h1 class="sentence">Unlock Your SuperPower !</h1>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline d-flex sentence">
    <input class="form-control mr-sm-2" type="search" placeholder="Search SuperPower" aria-label="Search">
    <button class="btn-margin-padding my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="index-grid power-card">
    <% @super_powers.each do |super_power| %>
    <div class="card" style="width: 29rem";>
      <div class="container">
        <div >

            <div class="card-img-top card_power pt-2 p-auto">
              <% if super_power.poster_url.attached? %>
                <%= cl_image_tag super_power.poster_url.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
              <% end %>
            </div>

            <div class="card-title">
            <%= link_to super_power.name, super_power_path(super_power) %>
            </div>
            <div class="card-text">
              <%= super_power.description %>
            </div>

            <h2><%= super_power.price %>€</h2>

            <div class="btn-margin-padding ">
              <%= link_to "Delete", super_power_path(super_power), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "white-btn" %>
            </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
