 <div class="container d-flex justify-content">
  <div class="column1">
    <div class="row justify-content-center pt-3">
        <h1 class="main">Débloque ton super power !</h1>
      </div>
        <%= form_with url: super_powers_path, method: :get, class: "form-inline d-flex sentence search-bar-width" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control mr-sm-2",
            placeholder: "Search Super Power"
          %>
          <%= submit_tag "Search", name: "", class: "btn-margin-padding my-2 my-sm-0" %>
        <% end %>
        </div>
    </div>
  </div>
</div>

<div class="index-grid power-card">
    <% @super_powers.each do |super_power| %>
    <div class="card" style="width: 29rem";>
      <div class="container">
        <div >

            <div class="card-img-top card_power pt-2 p-auto">
              <% if super_power.poster_url.attached? %>
                <%= cl_image_tag super_power.poster_url.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
              <% end %>
            </div>

            <div class="card-title">
            <%= link_to super_power.name, super_power_path(super_power) %>
            </div>
            <div class="card-text">
              <%= super_power.description.first(300) + "..." %>
            </div>

            <h2 class="card-price"><%= super_power.price %>€</h2>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<footer>
<div class="footer">
<h3 class="team">Our team</h3>
<div class="row">
  <img alt="Kevin" src="/assets/kevin.png", class="faces">
  <img alt="Anastasia" src="/assets/nastya.png", class="faces">
  <img alt="Louhane" src="/assets/louh.png", class="faces">
  <img alt="Alexandra" src="/assets/alex.png", class="faces">
</div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>
</div>

<div class="row">
 © 2023 Superent - All rights reserved || Designed By: Roamly
</div>
</div>
</footer>
