
<h1>Available Super Powers</h1>
<div>
<% @super_powers.each do |super_power| %>
<div class="container">
  <div class="card col-lg-4 d-flex">
    <div class="p-3">
    <% if super_power.poster_url.attached? %>
      <%= cl_image_tag super_power.poster_url.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= link_to super_power.name, super_power_path(super_power) %>
      <%= super_power.description %>
      <%= super_power.price %>€
      <%= link_to "Delete", super_power_path(super_power), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
<% end %>
<%= link_to "Create new Super Power",  new_super_power_path %>
</div>
