<div class="container">
<h1>Add my super power !</h1>

<div class="card">
<%= simple_form_for @super_power do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.input :poster_url, as: :file %>
</div>
<div class="card2">
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>
  <div class="card3">
  <%= f.submit %>
  </div>
<% end %>
<%= link_to "Back to list", super_powers_path %>
</div>

<div class="container-new">
  <h1>Add my super power !</h1>
  <div class="container-name">
    <div>
      <%= simple_form_for @super_power do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <p class="rectangle"><%= f.text_field :name %></p>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <p class="rectangle"><%= f.text_field :price %></p>
        </div>

        <div class="form-group">
          <%= f.input :poster_url, as: :file %>
        </div>

        <div class="form-group">
          <%= f.label :description %>
          <p class="rectangle-des"> <%= f.text_field :description %></p>
        </div>

        <div class="container-button">
          <p class="button"><%= f.submit %></p>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to list", super_powers_path, class: "container-button" %>
</div>
