<div>
  <div class="container">
    <h1 class="justify-content-center">My Profile</h1>
    <div class=" dashboard-name">
    <h2 class="dashboard-titles">Name :</h2>
    <h2 class=><%= current_user.name%></h2>
    </div>
    <h2 class="dashboard-titles">My Reservations :</h2>

    <div class="index-grid power-card">
        <% @reservations.where(user_id: current_user.id).each do |reservation| %>
        <div class="card" style="width: 29rem";>
          <div class="container">
            <div >

                <div class="card-img-top card_power pt-2 p-auto">
                  <% if reservation.super_power.poster_url.attached? %>
                    <%= cl_image_tag reservation.super_power.poster_url.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
                  <% end %>
                </div>

                <div class="card-title">
                <%= link_to reservation.super_power.name, super_power_reservation_path(reservation, reservation.super_power) %>
                </div>
                <div class="card-text">
                  <%= reservation.super_power.description.first(300) + "..." %>
                </div>

                <h2 class="card-price"><%= reservation.price %>€</h2>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <%# <% @my_reservations = current_user.resevation.each do |my_reservation| %> %>
    <%# <ul> %>
      <%# <li><%= my_reservation.name %></li> %>
      <%# <% end %> %>
    <%# </ul> %>

    <h2 class="dashboard-titles">My Super-Powers :</h2>

    <div class="index-grid power-card">
        <% @super_powers.where(user_id: current_user.id).each do |super_power| %>
        <div class="card" style="width: 29rem";>
          <div class="container">
            <div >

                <div class="card-img-top card_power pt-2 p-auto">
                  <% if super_power.poster_url.attached? %>
                    <%= cl_image_tag super_power.poster_url.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
                  <% end %>
                </div>

                <div class="card-title">
                <%= link_to super_power.name, super_power_path(super_power) %>
                </div>
                <div class="card-text">
                  <%= super_power.description.first(300) + "..." %>
                </div>

                <h2 class="card-price"><%= super_power.price %>€</h2>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
<div class="footer">
<h3 class="team">Our team</h3>
<div class="row">
  <img alt="Kevin" src="/assets/kevin.png", class="faces">
  <img alt="Anastasia" src="/assets/nastya.png", class="faces">
  <img alt="Louhane" src="/assets/louh.png", class="faces">
  <img alt="Alexandra" src="/assets/alex.png", class="faces">
</div>

<div class="row">
<ul>
<li><a href="#">Contact us</a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>
</div>

<div class="row">
 © 2023 Superent - All rights reserved || Designed By: Roamly
</div>
</div>
</footer>
